.ion-header {
    text-align: left;
    position: absolute;
    right: 0;
    top: 30%;
}

.ion-title {
    color: azure;
    font-family: 'Courier New', Courier, monospace;
    font-size: xx-large;
    font-weight: 600;
    left: 20px;
}

.ion-content {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 20%;
}


.ion-footer {
    text-align: left;
    background-color: rgb(15, 1, 1);
}

