.container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
}

.container strong {
  font-family: 'Courier New', Courier, monospace;
  font-size: 50px;
  line-height: 26px;
  color: rgb(243, 236, 142);
}

.container a {
  text-decoration: none;
}